.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(25, 25, 25, 0.3);
}
